@charset "UTF-8";
/* CSS Document */
/* reset */
body,div,p,a,li,ul,ol,span,input,dl, dd, dt, form, h1, h2, h3, h4, h5, h6, input, select, pre,img,textarea,blockquote
{ padding:0px; margin:0px; list-style:none; outline:none; font-size:system; border:0 none; text-decoration:none;}
body { font-family:Arial,Helvetica,"microsoft yahei",'微软雅黑','simhei'; color:#333;overflow-x:hidden;background:#f5f5f5;font-size:1rem;}
table{ border-collapse:collapse;border-spacing:0;}
img{width:100%; border:0;}
em,strong,th,b,i{font-style:normal;font-weight:normal;}
th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,textarea,select,button{font-family:inherit;font-size:inherit;font-weight:inherit;border-radius:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
img,input,label,button{vertical-align:middle;}
article,section,nav,header,footer{display:block;}
input[type="submit"],input[type="text"],input[type="number"],input[type="reset"],input[type="button"]{-webkit-appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}/*苹果手机按钮和输入框默认样式清除*/
/* fontsize reset */
@media screen and (min-width:1080px){
html,body{ font-size:34px;}
}
@media screen and (min-width:721px) and (max-width:1079px){
html,body{ font-size:24px;}
}
@media screen and (min-width:640px) and (max-width:720px){
html,body{ font-size:22px;}
}
@media screen and (min-width:540px) and (max-width:639px){
html,body{ font-size:20px;}
}
@media screen and (min-width:480px) and (max-width:539px){
html,body{ font-size:18px;}
}
@media screen and (min-width:320px) and (max-width:479px){
html,body{ font-size:15px;}
}
@media screen and (max-width:320px){
html,body{ font-size:14px;}
}


/* common */
input:focus,button:focus,select:focus,textarea:focus{outline:0;}
a.hidefocus,a:active,a:focus,.hidefocus:focus,input[type=button] ,input[type=submit] 
{ outline:none; -moz-outline:none;}
input:-moz-placeholder { color:#ccc;}
input:-ms-input-placeholder { color:#ccc;}
input::-webkit-input-placeholder { color:#ccc;}
textarea:-moz-placeholder { color:#ccc;}
textarea:-ms-input-placeholder { color:#ccc;}
textarea::-webkit-input-placeholder { color:#ccc;}
button.hidefocus::-moz-focus-inner { border:none;}
a:link,a:visited,a:active{ text-decoration:none}
a:hover{text-decoration: none;}
a,input,button,select,textarea{ -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:transparent;}
.hide{display:none;}
.show{display:block;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}
.grey_9{color:#999;}
.grey_6{color:#666;}
.grey_c{color:#ccc;}
.blue{color:#05aeef;}
.purple{color:#7873e0;}
.orange{color:#ff7800;}
.green{color:#53b949;}
.red{color:#fe7370;}
.yellow{color:#ffff00;}
.up{color:#fe7370;}
.indexBlue{color:#5ca3f1;}
.indexPurple{color:#7873e0;}
.indexbgPurple{background:#7773e1;}
.indexbgLightBlue{background:#66b3f3;}
.indexbgPink{background:#fc8ba9;}
.indexbgGreen{background:#00ceb8;}
.indexbgOrange{background:#ff6900;}
.indexbgLightOrange{background:#fd9429;}

.bgWhite{background:#fff;}
.bgGreen{background:#41cebd;}
.bgDarkGreen{background:#35bb7c;}
.bgBlue{background:#05aeef;}
.bgLightGreen{background:#87d001;}
.bgLightBlue{background:#6acbf6;}
.bgRed{background:#f26868;}
.bgPurple{background:#c394fd;}
.bgOrange{background:#ff7800;}
.bgDarkYellow{background:#ffaf0e;}
.p1{padding:1rem;}
.pl1{padding-left:1rem;}
.pr1{padding-right:1rem;}
.pt1{padding-top:1rem;}
.pb1{padding-bottom:1rem;}
.p05{padding:0.5rem;}
.pl05{padding-left:0.5rem;}
.pr05{padding-right:0.5rem;}
.pt05{padding-top:0.5rem;}
.pb05{padding-bottom:0.5rem;}
.m1{margin:1rem;}
.ml1{margin-left:1rem;}
.mr1{margin-right:1rem;}
.mt1{margin-top:1rem;}
.mb1{margin-bottom:1rem;}
.mt0{margin-top:0 !important;}
.mt05{margin-top:0.5rem;}
.mb05{margin-bottom:0.5rem;}
.ml05{margin-left:0.5rem;}
.mr05{margin-right:0.5rem;}
.bdGrey{border:1px solid #f1f1f1;}
.bdtGrey{border-top:1px solid #f1f1f1;}
.bdbGrey{border-bottom:1px solid #f1f1f1;}
.bdrGrey{border-right:1px solid #f1f1f1;}
.bdlGrey{border-left:1px solid #f1f1f1;}
.noBdtop{border-top:none !important;}
.tdLine{text-decoration:line-through}
.fl{float:left;}
.fr{float:right;}
.bold{font-weight:bold;}
.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}
.vm{vertical-align:middle;}
.lHeight{line-height:1.6rem;}
.inputTxt{border:1px solid #f1f1f1;border-radius:0.2rem;height:1.6rem;line-height:1.2rem;color:#666;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box;font-size:0.9rem;padding-left: 0.5rem;}
.searchTxt{width:70%;color:#666;height:1.8rem;line-height:1.8rem;margin-top:0.3rem;margin-bottom:0.3rem;font-weight:normal;border:none;font-size:0.9rem;float:left;margin-left:0.5rem;background:none;}
/* header */
header{ width:100%; height:4rem; z-index:100;background:#fff; position:fixed; top:0;border-bottom:1px solid #f1f1f1;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box;z-index: 1001;}
header a,header h1 { display:inline-block; float:left; height:4rem; line-height:4rem; text-align:center; color:#666;}
header .iconfont{color:#ccc;}
header h1 { width:70%; font-size:1.3rem; text-align:center !important;margin:0 auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
header h1 .icon-dian{color:#666;}
header .headLeft { width:15%; font-size:1.5rem;}
header .headRight { width:15%;font-size:1.1rem;color:#999;}
header .headRight .iconfont{font-size:1.6rem;}
header .headRight .icon-shaixuan{font-size:1.2rem;}
.searchBox{width:100%;-webkit-height:2.3rem;height:2.3rem;line-height:2.3rem;border:1px solid #e2e2e2;border-radius:0.3rem;margin-top:0.8rem;background:rgba(255,255,255,0.95);overflow:hidden;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box;}
.searchBox .iconfont{color:#ccc;}

/*footer*/
footer{background:#fff;width:100%;height:3.5rem;overflow:hidden;position:fixed;bottom:0;border-top:1px solid #f1f1f1;padding-top:0.5rem; z-index:100;}
footer ul{font-size:0.9rem;overflow:hidden;margin-top:-2px;}
footer ul li{float:left;width:25%;text-align:center;color:#999;}
footer ul li a{display:block;color:#999;margin:0 1rem;height:3.5rem;}
footer ul li a:hover,footer ul li a:visited,footer ul li a:visited{color:#999;}
footer ul li.current a{color:#4dbeff;}
footer ul li .iconfont{font-size:1.8rem;display:block;height:2.3rem;line-height:2.3rem;}
/* container */
.container{position:absolute; width:100%; height:auto; top:4rem; left:0; bottom:4rem;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.indexHeader{width:100%;position:fixed;top:0;height: 3.8rem;z-index:1000;
	background:-moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) 50% , rgba(0, 0, 0, 0));  
    background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.5)),  color-stop(50%, rgba(0, 0, 0, 0.1)), to( rgba(0, 0, 0, 0)));  
    background:-o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) 50% , rgba(0, 0, 0, 0));
}
.indexHeader a,.indexHeader h1{display:inline-block; float:left; height:3.5rem; line-height:3.5rem; text-align:center; color:#FFF !important;}
.indexHeader h1{width:70%; font-size:1.2rem; text-align:center !important;}	
.indexHeader .headLeft { width:15%; font-size:1.8rem;line-height:1.6rem;padding-top:0.5rem;height:3rem; }
.indexHeader .headRight { width:15%; font-size:1.8rem;line-height:1.6rem;padding-top:0.5rem;height:3rem; }		
.indexHeader.purity{background:rgba(26, 166, 228, 0.9);}
.indexHeader em{display:block;font-size:0.8rem;line-height: 1.4rem;}
.noHeader{top:0;}
.noFooter{bottom:0;}
.hasShopFoot{bottom:7rem;}





