/*联采大会介绍*/
.pab{padding-bottom: 1em;background: #f5f5f5;}
.liu{width: 100%;}
.dgai{width: 25.4%;margin: 0 auto;margin-top: 2.1%;}
.pgai{width: 91%;margin: 0 auto;margin-top: 1.5%;}
.pgai p{text-indent: 2em;font-size:1em;color: #424242;line-height: 1.6em;display: inline-block;}
.cjia{width: 91%;margin: 0 auto;clear: both;overflow: hidden;}
.cjia div{float: left;margin-bottom: 2.5%;}
.cjia div:nth-child(1){width: 16%;}
.cjia div:nth-child(1) img{width: 100%;}
.cjia div:nth-child(2){width: 81%;margin-left: 3%;}
.cjia div:nth-child(2) p{background: #dd3527;font-size: 1.27em;color: #FFFFFF;display: inline-block;margin-bottom: 0.8%;padding: 0 0.4em 0 0.4em;}
.cjia div:nth-child(2) span{font-size: 1em;color: #424242;line-height:1.4em ;}
.mart{margin-bottom: 1.5%;}
.danw{width: 89%;margin: 0 auto;overflow: hidden;clear: both;margin-left: 6%;}
.danw>p{float: left;width: 23%;font-size: 0.94em;font-weight:bold;color: #dd3527;}
.danw div{float: left;width: 77%;}
.danw div p{font-size: 0.8em;color: #424242;line-height: 1.45em;}
.tmar{margin-top: 2%;margin-bottom: 2%;}
.marb{margin-bottom: 5%;}
.pabot{padding-bottom: 3em;margin-top: 2em;}
.pabot a:nth-of-type(1){display: block;width: 80%;margin:0 auto;margin-bottom: 1.5em;}
.pabot a:nth-of-type(2){display: block;width: 90%;margin:0 auto;margin-bottom: 1.5em;}
/*购票成功*/
.padbot{padding-bottom: 1em;}
.topd{width: 100%;position: relative;}
.fonts{position: absolute;top:7%;left: 7%;}
.fontss{position: absolute;top:3%;left: 7%;}
.fonts span,.fonts span{line-height: 1.5em;}
.fonts span:nth-of-type(1),.fontss span:nth-of-type(1){font-size: 1em;}
.fonts span:nth-of-type(2),.fontss span:nth-of-type(2){font-size: 1.2em;color: #d54948;}
.fonts span:nth-of-type(3),.fontss span:nth-of-type(3){color: #aaaaaa;font-size:1em;}
.qupiao{width: 58%;position: absolute;top:32%;left: 20%;}
.qupiaoo{width: 58%;position: absolute;top:28%;left: 20%;}
.qupiao p,.qupiaoo p{float: left;text-align: center;}
.qupiao p:nth-of-type(1),.qupiaoo p:nth-of-type(1){width: 8%;font-size: 0.8em;line-height: 1.2em;margin-top: 0.2em;}
.qupiao p:nth-of-type(2),.qupiaoo p:nth-of-type(2){width: 92%;height: 10%;background: #ececec;line-height: 2.7em;font-size: 1.6em;color: #282828;}
.botd{width: 100%;position: relative;color: #282828;margin-bottom: 3rem;}
.canh{position: absolute;top: 4%;left: 5%;}
.jut{position: absolute;top:22%;left: 5%;}
.jut span{font-size: 0.8em;line-height: 1.7em;}
.tela{color: #FFFFFF;background: #dd3527 ;width: 96%;border-radius: 0.5rem;height: 3em;display: block;text-align: center;line-height: 3em;border-top: 1px solid #FFFFFF;font-size: 1.2em;position: fixed;bottom: 0;left: 2%;z-index: 100;overflow: hidden;}
.topn{width: 100%;position: absolute;top: 0;}
.posire{position: relative;background-color: #ececec;}
.ndown{width: 100%;position: absolute;bottom: 0;}
/*.yjl{width: 35%;position: relative;top: 55%;left: 35%;}*/
