@charset "UTF-8";
/* CSS Document */
/* reset */
body,div,p,a,li,ul,ol,span,input,dl, dd, dt, form, h1, h2, h3, h4, h5, h6, input, select, pre,img,textarea,blockquote
{ padding:0px; margin:0px; list-style:none; outline:none; font-size:system; border:0 none; text-decoration:none;}
body { font-family:Arial,Helvetica,"microsoft yahei",'微软雅黑','simhei'; color:#333;overflow-x:hidden;background:#fff;}
table{ border-collapse:collapse;border-spacing:0;}
img{width:100%; border:0;}
em,strong,th,b,i{font-style:normal;font-weight:normal;}
th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,textarea,select,button{font-family:inherit;font-size:inherit;font-weight:inherit;border-radius:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
img,input,label,button{vertical-align:middle;}
article,section,nav,header,footer{display:block;}
input[type="submit"],input[type="text"],input[type="number"],input[type="reset"],input[type="button"]{-webkit-appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}/*苹果手机按钮和输入框默认样式清除*/
/* fontsize reset */



/* common */
input:focus,button:focus,select:focus,textarea:focus{outline:0;}
a.hidefocus,a:active,a:focus,.hidefocus:focus,input[type=button] ,input[type=submit] 
{ outline:none; -moz-outline:none;}
input:-moz-placeholder { color:#999;}
input:-ms-input-placeholder { color:#999;}
input::-webkit-input-placeholder { color:#999;}
textarea:-moz-placeholder { color:#999;}
textarea:-ms-input-placeholder { color:#999;}
textarea::-webkit-input-placeholder { color:#999;}
button.hidefocus::-moz-focus-inner { border:none;}
a:link,a:visited,a:active{ text-decoration:none}
a:hover{text-decoration: none;}
a,input,button,select,textarea{ -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:transparent;}
.hide{display:none;}
.show{display:block;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}
.grey_9{color:#999;}
.grey_6{color:#666;}
.grey_c{color:#ccc;}
.blue{color:#05aeef;}
.purple{color:#7873e0;}
.orange{color:#ff7800;}
.green{color:#53b949;}
.red{color:#fe7370;}
.yellow{color:#ffff00;}
.up{color:#fe7370;}
.indexBlue{color:#5ca3f1;}
.indexPurple{color:#7873e0;}
.indexbgPurple{background:#7773e1;}
.indexbgLightBlue{background:#66b3f3;}
.indexbgPink{background:#fc8ba9;}
.indexbgGreen{background:#00ceb8;}
.indexbgBlue{background:#59afe0;}
.indexbgOrange{background:#ff6900;}
.indexbgLightOrange{background:#fd9429;}

.bgWhite{background:#fff;}
.bgf5{background:#f5f5f5;}
.bgGreen{background:#41cebd;}
.bgDarkGreen{background:#35bb7c;}
.bgBlue{background:#05aeff;}
.bgLightGreen{background:#6dd8c4;}
.bgLightBlue{background:#6acbf6;}
.bgRed{background:#f26868;}
.bgPurple{background:#7592e0;}
.bgOrange{background:#feac58;}
.bgDarkYellow{background:#ffaf0e;}
.bgPink{background:#fc8ba9;}
.p1{padding:1rem;}
.pl1{padding-left:1rem;}
.pr1{padding-right:1rem;}
.pt1{padding-top:1rem;}
.pb1{padding-bottom:1rem;}
.p05{padding:0.5rem;}
.pl05{padding-left:0.5rem;}
.pr05{padding-right:0.5rem;}
.pt05{padding-top:0.5rem;}
.pb05{padding-bottom:0.5rem;}
.m1{margin:1rem;}
.mr0{ margin-right: 0;}
.ml1{margin-left:1rem;}
.mr1{margin-right:1rem;}
.mt1{margin-top:1rem;}
.mb1{margin-bottom:1rem;}
.mt0{margin-top:0 !important;}
.mt05{margin-top:0.5rem;}
.mb05{margin-bottom:0.5rem;}
.ml05{margin-left:0.5rem;}
.mr05{margin-right:0.5rem;}
.bdGrey{border:1px solid #f1f1f1;}
.bdtGrey{border-top:1px solid #f1f1f1;}
.bdbGrey{border-bottom:1px solid #f1f1f1;}
.bdrGrey{border-right:1px solid #f1f1f1;}
.bdlGrey{border-left:1px solid #f1f1f1;}
.noBdtop{border-top:none !important;}
.tdLine{text-decoration:line-through}
.fl{float:left;}
.fr{float:right;}
.bold{font-weight:bold;}
.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}
.vm{vertical-align:middle;}
.lHeight{line-height:1.6rem;}
.inputTxt{border:1px solid #f1f1f1;border-radius:0.2rem;height:1.6rem;line-height:1.2rem;color:#666;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box;font-size:0.9rem;padding-left: 0.5rem;}
.searchTxt{width:70%;color:#666;height:1.8rem;line-height:1.8rem;margin-top:0.3rem;margin-bottom:0.3rem;font-weight:normal;border:none;font-size:0.9rem;float:left;margin-left:0.5rem;background:none;}
/* header */
header{ width:100%; height:3.3rem; z-index:100;background:#fff; position:fixed; top:0;border-bottom:1px solid #f1f1f1;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box;z-index: 1001;}
header a,header h1 { display:inline-block; float:left; height:3.3rem; line-height:3.3rem; text-align:center; color:#666;}
header .iconfont{color:#272536;}
header h1 { width:70%; font-size:1.2rem; text-align:center !important;margin:0 auto;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
header h1 .icon-dian{color:#666;}
header .headLeft { width:15%; font-size:1.4rem;}
header .headRight { width:15%;color:#999;}
header .headRight .iconfont{font-size:1.4rem;}
header .headRight .icon-shaixuan{font-size:1.2rem;}
.searchBox{width:100%;-webkit-height:2.3rem;height:2.3rem;line-height:2.3rem;border:1px solid #e2e2e2;border-radius:0.3rem;margin-top:0.5rem;background:rgba(255,255,255,0.95);overflow:hidden;box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box;}
.searchBox .iconfont{color:#272536;}

/*footer*/
footer{background:#fff;width:100%;height:auto;overflow:hidden;bottom:0;z-index:100;padding: 0.5rem 0;box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
    -webkit-box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
    -moz-box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);position: fixed; z-index: 11;}
footer ul{font-size:0.9rem;overflow:hidden;}
footer ul li{float:left;width:33.3%;text-align:center;color:#666;border-right: 1px solid #ccc;box-sizing: border-box;}
footer ul li:last-child{border-right: none;}
footer ul li a{display:block;color:#646464;margin:0 1rem;height:3rem;line-height: 3rem;font-size: 1rem;}
footer ul li a:hover,footer ul li a:visited,footer ul li a:visited{color:#646464;}
footer ul li.current a{color:#646464;}
footer li a>i img{width: auto;height: 100%;}
footer li a>i{display: block;height: 1.7rem;line-height: 1.7rem;}
footer li a>p{line-height: 1.8rem;}
footer ul li .iconfont{font-size:1.7rem;display:block;height:2rem;line-height:2rem;}
/* container */
.container{position:absolute; width:100%; height:auto; top:3.3rem; left:0; bottom:3.5rem;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.indexHeader{width:100%;position:fixed;top:0;height: 3.3rem;z-index:10099;
	background:-moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) 50% , rgba(0, 0, 0, 0));  
    background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.5)),  color-stop(50%, rgba(0, 0, 0, 0.1)), to( rgba(0, 0, 0, 0)));  
    background:-o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) 50% , rgba(0, 0, 0, 0));
}
.indexHeader a,.indexHeader h1{display:inline-block; float:left; height:3.3rem; line-height:3.3rem; text-align:center; color:#FFF !important;}
.indexHeader h1{width:70%; font-size:1.2rem; text-align:center !important;}	
.indexHeader .headLeft { width:15%; font-size:1.8rem;line-height:3rem;}
.indexHeader .headRight { width:15%; font-size:1.8rem;line-height:3rem;}		
.indexHeader.purity{background:rgba(26, 166, 228, 0.9);}
.indexHeader em{display:block;font-size:0.8rem;line-height: 1.4rem;}
.indexHeader .searchBox .iconfont{color: #ddd;font-size: 0.95rem;}
.noHeader{top:0;}
.noFooter{bottom:0;}
.hasShopFoot{bottom:7rem;}
.con-wrap{margin-top: 3.3rem;}
.conBot{margin-bottom: 3.5rem;}
.conTop{margin-top: 6.2rem;}

@media screen and (min-width:1080px){
html,body{ font-size:34px;}
}
@media screen and (min-width:721px) and (max-width:1079px){
html,body{ font-size:30px;}
}
@media screen and (min-width:640px) and (max-width:720px){
html,body{ font-size:24px;}
}
@media screen and (min-width:541px) and (max-width:639px){
html,body{ font-size:20px;}
}
@media screen and (min-width:481px) and (max-width:540px){
html,body{ font-size:18px;}
}
@media screen and (min-width:321px) and (max-width:480px){
html,body{ font-size:16px;}
}
@media screen and (max-width:320px){
html,body{ font-size:14px;}
header .headRight{width: 16%;}
header h1{width: 68%;}
.recommendList li img{width: 100%;height: 8rem !important;}
}

/*弹出框*/
.m-layer{display:none;position:fixed;top:0;left:0;z-index:10000;width:100%;height:100%;background:rgba(0,0,0,0.6);}
.m-layer > table{table-layout:fixed;width:100%;height:100%;}
.m-layer > table > tbody > tr > td{vertical-align:middle;}
.m-layer .lywrap{position:relative;width:80%;margin:0 auto;border-radius:6px;box-shadow:0 2px 10px rgba(0,0,0,0.2);}
.m-layer .lyct{padding:1rem; margin:0; text-align:center;border-radius:4px;}
.m-layer.z-show{display:block;}
.m-layer .lyct .lyctTitle{font-size:1.2rem;color:#fff;padding-bottom:1rem;padding-top:1rem;}
.m-layer .lyct input[type="text"],.m-layer .lyct input[type="tel"]{ width:100%; height:2.4rem;line-height: 2.4rem; background:#fff; text-indent:1rem; font-size:1rem; color:#666; margin-bottom:0.6rem; border-radius:0.3rem; border:1px solid #f1f1f1;-webkit-appearance:none;}
.m-layer .lyct input:-moz-placeholder { color:#ccc; font-size:1rem;}
.m-layer .lyct input:-ms-input-placeholder {  color:#ccc; font-size:1rem;}
.m-layer .lyct input::-webkit-input-placeholder {  color:#ccc; font-size:1rem;}
.m-layer .lyct button { width:46%;padding:0.8rem 0; margin:1rem auto 1rem auto; border-radius:3px; font-size:1.2rem;border:none;}
.m-layer .lyct button.cancel { background:#fff; color:#666;border:1px solid #ddd;float:left;}
.m-layer .lyct button.confirm { background:#05aeef;color:#fff;float:right;}
.m-layer.noMask{background:rgba(0,0,0,0);}
.m-layer.noMask .lywrap{width:40%;}
.m-layer.noMask .lyct{padding:1rem;background:rgba(0,0,0,0.6);color:#fff;line-height:1.6rem;}
.m-layer.noMask .lyct .icon-xuanzhong{color:#fff;font-size:2rem;}
.m-layer.noMask .lyct .lyctTitle{color:#fff;border-bottom:none;font-size:1.1rem;}
.m-layer .m-title{position: absolute;width: 100%;}
.m-layer .m-title .fl{padding: 0.5rem 1rem;color: #fff;font-size: 1.2rem;}
.m-layer .m-title .fr{padding: 0.5rem 1rem;color: #fff;}
.m-layer .centerBox{position: absolute;width: 100%;max-height:80%;top: 50%;overflow: hidden;}
/*.m-layer .centerBox img{width: 100%;left: 0;top: 0;}*/
/*只有确定按钮的弹出框*/
.m-layer .lywrap2 .lyct p{text-align: left;line-height: 1.6rem;color: #666;}
.m-layer .lywrap2 .lyct h3{font-size: 1.2rem;padding-bottom: 1rem;color: #666;text-align: center;border-bottom: 1px solid #f1f1f1;margin-bottom: 1rem;}
.m-layer .lywrap2 .lyct button.confirm{width: 60%;float: none;margin-top: 1rem;margin-bottom: 0.5rem;}

.gonggao {
    position: fixed;
    top: 0;
    font-size: 1.1rem;
    background: #a1081c;
    color: #fff;
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    z-index: 10;
}


